.main-header {
    margin-top: 45px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ff6060;

    &__nav {
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &-item {
            padding: 0 10px;
            list-style: none;
        
            a {
                text-decoration: none;
                color: #ff6060;
                &:global(.active) {
                    text-decoration: underline;
                }
            }
        }
    }
}